h5, h6 {
    margin: 0;
}

h5 {
    font-size: 16px;
    font-weight: 500;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

.main{
    min-height: 88px;
    max-height: 88px;
    min-width: 100%;
    background-color: #242426;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.15);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.main_active{
    min-height: 88px;
    max-height: 88px;
    min-width: 100%;
    background-color: #313150;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.15);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    display: flex;
    align-items: center;
}


.main__avatar{
    min-height: 64px;
    min-width: 64px;
    max-width: 64px;
    max-height: 64px;
    border-radius: 50%;
}

.main__text {
    min-width: 65%;
    max-width: 65%;
    margin-left: 10px;
}

.main__text_name {
    font-size: 100%;
    
}

.main__date {
    font-size: 12px;
    font-weight: 400;
    color: #7F8FA6;
    width: max-content;
    text-align: right;
    margin: 0;
}

.main__text_message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.main__text_message_who {
    font-size: 14px;
    font-weight: 200;
}

.status{
    height: 1vh;
    margin: 0 35%;
}

.info {
    max-height: min-content;
}
