.gifts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    height: 94%;
    margin-left: 10px;
}

.gifts_left, .gifts_right {
    width: 49%;
    background-color: #1D1D1D;
    border-radius: 16px;
    border: 1px solid #414C59;
    padding: 16px;
    box-sizing: border-box;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    overflow: scroll;
    justify-content: space-around;
    
}

.gifts_left_title, .gifts_right_title {
    margin: 0;
    text-align: center;
    font-size: 18px;
    color: #8399B8;
    font-weight: 500;
}

.chats_list_button {
    width: 100%;
    background-color:  #242426;
    border: 1px solid #8399B8;
    margin-top: 8px;
}

.gifts_right_el {
    background-color: #212124;
    width: 46%;
    height: max-content;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #414C59
}

.gifts_right_el_div {
    background-color: #212124;
    border: 1px solid #414C59;
    border-radius: 16px;
}

.gifts_right_el_div_image {
    /* width: 80%; */
    /* min-width: 80%; */
    height: 20vh;
}

.gifts_right_el_title {
    font-size: 18px;
    font-weight: 400;
    margin: 6px 0;
    text-align: center;
    color: #8399B8;
}


.gifts_left_el {
    background-color: #212124;
    width: 46%;
    height: max-content;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid #414C59
}

.gifts_left_el_div {
    background-color: #212124;
    border: 1px solid #414C59;
    border-radius: 16px;
}

.gifts_left_el_div_image {
    /* width: 80%; */
    /* min-width: 80%; */
    height: 20vh;
}

.gifts_left_el_title {
    font-size: 18px;
    font-weight: 400;
    margin: 6px 0;
    text-align: center;
    color: #8399B8;
}