.input {
    height: 66px;
    width: 100%;
    border-radius: 16px;
    background-color: #222224;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.input input {
    width: 80%;
    height: 36px;
    border-radius: 18px;
    border: 1px solid #2B3137;
    background-color: #1C1C1C;
    padding: 4px 16px;
    outline: 2px solid rgba(255, 255, 255, 0);
}

.main__head_input {
    border: 1px solid #2B3137;
    background-color: #1C1C1C;
    width: 100%;
    height: 2vh;
    border-radius: 6vh;
    padding: 2vh 3vh;
    font-size: 14px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

}

.animate_border {
    animation: borderAnimation 1s;
    outline: 2px solid red;
  }
  
  @keyframes borderAnimation {
    0% {
      outline-color: rgb(123, 63, 63);
    }
    100% {
        outline: 1px solid #2B3137;
    }
  }